## String Manupulations

In [1]:
a     = 1234
str.a = as.character(a)

In [2]:
nchar(str.a)

[1] 4

## Declare NULL for Empty Cell in String

In [3]:
a  = NA
nchar(a)

[1] NA

In [4]:
a = NULL
nchar(a)

integer(0)

In [6]:
a = "UPPERlower"
toupper(a)
tolower(a)

[1] "UPPERLOWER"

[1] "upperlower"

## Character transaction

In [7]:
a = "butter"
chartr("u","e",a)

[1] "better"

## Substring

In [8]:
a = "12345"
substr(a,2,2)

[1] "2"

## String Concatenation

In [10]:
a = c("who","what","why","where","how")
paste(a,"am i?",sep=" ",collapse="+")

[1] "who am i?+what am i?+why am i?+where am i?+how am i?"

## String Manipulations

In [12]:
a  = "1,2,3,4,5"
b  = strsplit(a,",")

## String Search

In [14]:
a = c("asdfA","abdf","asdfD","bbbbb")
grep("df",a)
regexpr("df",a)

[1] 1 2 3

[1]  3  3  3 -1
attr(,"match.length")
[1]  2  2  2 -1
attr(,"index.type")
[1] "chars"
attr(,"useBytes")
[1] TRUE

# Essentials

In [17]:
seq(4,9)
oops = c(7,9,13)
rep(oops,3)
rep(oops,1:3)

[1] 4 5 6 7 8 9

[1]  7  9 13  7  9 13  7  9 13

[1]  7  9  9 13 13 13

# Matrices and arrays

In [20]:
x = 1:12
dim(x) = c(3,4)
x

     [,1] [,2] [,3] [,4]
[1,] 1    4    7    10
[2,] 2    5    8    11
[3,] 3    6    9    12

In [21]:
matrix(1:12,nrow=3,byrow=T)

     [,1] [,2] [,3] [,4]
[1,] 1     2    3    4
[2,] 5     6    7    8
[3,] 9    10   11   12

In [24]:
x        = matrix(1:12,nrow=3,byrow=T)
rownames = LETTERS[1:3]
t(x)

     [,1] [,2] [,3]
[1,] 1    5     9
[2,] 2    6    10
[3,] 3    7    11
[4,] 4    8    12

In [25]:
cbind(A=1:4,B=5:8,C=9:12)

     A B C
[1,] 1 5  9
[2,] 2 6 10
[3,] 3 7 11
[4,] 4 8 12

In [26]:
rbind(A=1:4,B=5:8,C=9:12)

  [,1] [,2] [,3] [,4]
A 1     2    3    4
B 5     6    7    8
C 9    10   11   12

In [28]:
pain   = c(0,3,2,2,1)
fpain  = factor(pain,levels=0:3)
levels = c("none","mild","medium","severe")
as.numeric(fpain)

[1] 1 4 3 3 2

## List

In [30]:
intake.pre  = c(1,2,3,3,4)
intake.post = c(2,3,4,4,5)
mylist = list(before = intake.pre,after = intake.post)

## Data Frame

In [31]:
d = data.frame(intake.pre,intake.post)

In [33]:
d

  intake.pre intake.post
1 1          2
2 2          3
3 3          4
4 3          4
5 4          5

In [34]:
d[d$intake.pre<3,]

  intake.pre intake.post
1 1          2
2 2          3