## One Way Anova

In [2]:
y1 = c(18.2,20.1,17.6,16.8,18.8,19.3,19.1)
y2 = c(17.4,18.7,19.1,16.4,15.2,18.4)
y3 = c(15.2,18.8,17.7,16.5,15.9,17.1,16.3)

In [8]:
y = c(y1,y2,y3)
n = c(7,6,7)
group = c(rep(1,7),rep(2,6),rep(3,7))
ydata = data.frame(y=y,group = factor(group))
fit = lm(y~group,data=ydata)
anova(fit)

          Df Sum Sq   Mean Sq  F value  Pr(>F)
group      2 11.06295 5.531476 3.439589 0.05567383
Residuals 17 27.33905 1.608179       NA         NA

## Two Way Anova

In [9]:
heart.rate = data.frame(hr = c(96,110,89,95,128,100,72,79,100,92,106,86,78,124,98,68,75,106,86,108,85,78,118,100,67,74,
                              104,92,114,83,83,118,94,71,74,102),subj=gl(9,1,36),time=gl(4,9,36,labels=c(0,30,60,120)))

In [11]:
attach(heart.rate)
anova(lm(hr~subj+time))

The following objects are masked from heart.rate (pos = 3):

    hr, subj, time

          Df Sum Sq    Mean Sq    F value   Pr(>F)
subj       8 8966.5556 1120.81944 90.639086 4.862680e-16
time       3  150.9722   50.32407  4.069637 1.802047e-02
Residuals 24  296.7778   12.36574        NA           NA

## Single proportions

#### Hypothesis testing p = p_0

#### u = (x-Np_0)/sqrt(Np_0(1-p_0))

In [12]:
prop.test(39,215,0.15)

	1-sample proportions test with continuity correction

data:  39 out of 215, null probability 0.15
X-squared = 1.425, df = 1, p-value = 0.2326
alternative hypothesis: true p is not equal to 0.15
95 percent confidence interval:
 0.1335937 0.2408799
sample estimates:
        p
0.1813953

In [13]:
binom.test(39,215,0.15)

	Exact binomial test

data:  39 and 215
number of successes = 39, number of trials = 215, p-value = 0.2135
alternative hypothesis: true probability of success is not equal to 0.15
95 percent confidence interval:
 0.1322842 0.2395223
sample estimates:
probability of success
             0.1813953

## Two Independent proportions

In [15]:
lewitt.machin.success = c(9,4)
lewitt.machin.total   = c(12,13)
prop.test(lewitt.machin.success,lewitt.machin.total)

	2-sample test for equality of proportions with continuity correction

data:  lewitt.machin.success out of lewitt.machin.total
X-squared = 3.2793, df = 1, p-value = 0.07016
alternative hypothesis: two.sided
95 percent confidence interval:
 0.01151032 0.87310506
sample estimates:
   prop 1    prop 2
0.7500000 0.3076923

## r X c tables

In [19]:
caff.marital = matrix(c(652,1537,598,242,36,46,38,21,218,327,106,67),nrow=3,byrow=T)
colnames(caff.marital) = c("0","1-150","151-300",">300")
rownames(caff.marital) = c("Married","Prev.married","Single")
chisq.test(caff.marital)

	Pearson's Chi-squared test

data:  caff.marital
X-squared = 51.656, df = 6, p-value = 2.187e-09